@media screen and(min-width: 1024px) {
  .only__sm {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  //==================================================================================
  // settings
  //==================================================================================

  $susy: (
          container: 750,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(750px);
  }
  .inner__container {
    @include container(750px);
  }
  html {
    overflow-x: hidden;
  }

  //==================================================================================
  // End of settings
  //==================================================================================

  //==================================================================================
  // common
  //==================================================================================

  .little__heading {
    font-size: 28px;
  }
  .big__heading {
    font-size: 90px;
    font-weight: bold;
  }
  .text__content {
    font-size: 29px;
    padding-left: 40px;
    padding-right: 40px;
  }

  //==================================================================================
  // End of common
  //==================================================================================

  //==================================================================================
  // header section
  //==================================================================================

  .header__bg {
    background-image: url("images/header-mobile-bg.jpg");
    background-size: 1336px 1336px;
    background-position-x: -350px;
    padding-bottom: 488px;
  }

  .nav__logo {
    @include clearfix();
    @include span(12);
    padding: 0;
    height: 110px;
    background-color: rgba(84, 90, 91, .7);
  }
  .logo {
    @include clearfix();
    margin-top: 10px;
    margin-left: 15px;
    height: 100px;
    display: inline-block;
    font-size: 3em;
  }
  .logo__symbol {
    width: 84px;
    height: 84px;
    line-height: 84px;
  }
  .logo__text {
    padding-top: 23px;
  }
  .menu {
    background-color: rgba(38, 49, 54, .7);
    height: 100%;
    width: 90px;
    text-align: center;
    span {
      display: none;
    }
  }
  .menu__icon {
    font-size: 80px;
  }
  .header__text {
    font-size: 95px;
    text-align: center;
    margin-left: 25px;
    padding-top: 510px;
    padding-bottom: 25px;
  }
  .arrow__down {
    font-size: 95px;
    color: #ffffff;
    width: 66px;
    height: 66px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      top: -11px;
      left: 3px;
    }
  }

  //==================================================================================
  // End of header section
  //==================================================================================

  //==================================================================================
  // about section
  //==================================================================================

  .about__heading {
    @extend .little__heading;
  }
  .about__second__heading {
    @extend .big__heading;
  }
  .about__text {
    @extend .text__content;
    font-weight: 300;
  }
  .about__button {
    width: 450px;
    height: 110px;
    font-size: 27px;
    font-family: OpenSansLight;
  }
  //==================================================================================
  // End of about section
  //==================================================================================

  //==================================================================================
  // what we do section
  //==================================================================================

  .about__works {
    @extend .little__heading;
  }
  .about__portfolio {
    @extend .big__heading;
    padding-top: 80px;
  }
  .portfolio__items {
    margin-left: 0;
  }
  .portfolio__item {
    img {
      @include span(12);
      height: 560px;
      margin-bottom: 8px;
    }
  }
  //==================================================================================
  // End of what we do section
  //==================================================================================

  //==================================================================================
  // who we are section
  //==================================================================================

  .who__we__heading {
    @extend .little__heading;
  }
  .who__we__second__heading {
    @extend .big__heading;
  }
  .who__we__text {
    @extend .text__content;
    margin-bottom: 130px;
  }
  .team__item {
    &:last-child {
      float: left;
      @include span(11);
      padding-left: 55px;
      padding-right: 35px;
    }
    @include span(11);
    padding-left: 55px;
    padding-right: 35px;
  }
  .team__item__image {
    width: 631px;
    height: 530px;
    background-size: cover;
  }

  .team__descr {
    background-color: #f9f9f9;
    width: 601px;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 100px;
    margin-bottom: 60px;
  }
  .tag {
    @extend .little__heading;
  }
  .team__member__name{
    @extend .big__heading;
    font-size: 40px;
  }
  .team__member__descr{
    @extend .text__content;
    padding-left: 0;
  }
  //==================================================================================
  // End of who we are section
  //==================================================================================

  //==================================================================================
  // blog section
  //==================================================================================

  .blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .blog__heading{
    @extend .little__heading;
  }
  .blog__second__heading{
    @extend .big__heading;
  }
  .article__image__wrapper{
    @include span(12);
    padding: 0;
  }
  .article__image{
    @include span(12);
    background-size: cover;
  }
  .article__description{
    @include span(12);
    padding-left: 70px;
    padding-top: 100px;
    padding-right: 122px;
    padding-bottom: 666px;
  }
  .article__date{
    font-size: 28px;
    text-transform: uppercase;
  }
  .article__header{
    font-size: 60px;
  }
  .article__text{
    padding-top: 70px;
    font-size: 29px;
  }
  .article__read{
    width: 250px;
    height: 100px;
    font-size: 29px;
    margin-top: 100px;
  }
  .read__blog{
    margin-top: 80px;
    width: 455px;
    height: 110px;
    font-size: 29px;
    margin-left: span(2);
  }
  //==================================================================================
  // End of blog section
  //==================================================================================

  //==================================================================================
  // contact us section
  //==================================================================================
  .contact {
    @include span(12);
    padding-left: 35px;
    padding-right: 35px;
    background-color: #ffffff;
  }
  .contact__heading{
    @extend .little__heading;
  }
  .contact__second__heading{
    @extend .big__heading;
  }
  .map__wrapper {
    padding-top: 80px;
  }
  .contact__divs__wrapper {
    background-color: #f9f9f9;
    @include clearfix();
  }
  .contact__div{
    padding-right: 0;
    &--second {
      @include span(6 last);
    }
  }
  .contact__type{
    padding-top: 70px;
    margin-bottom: 30px;
  }

  //==================================================================================
  // End of contact us section
  //==================================================================================


  //==================================================================================
  // footer section
  //==================================================================================

  .footer {
    @include span(12);
    padding-left: 35px;
    padding-right: 35px;
    height: 230px;
    line-height: normal;
  }
  .footer__info{
    @include span(12);
    padding-top: 80px;
    font-size: 30px;
  }
  .footer__email{
    @include span(12);
    font-size: 30px;
    padding-top: 40px;
  }

  //==================================================================================
  // End of footer section
  //==================================================================================


}
