@media screen and(min-width: 1024px) {
  .only__sm {
    display: none;
  }
}

@media screen and (max-width: 1356px) {
  .header__text {
    padding-bottom: 350px;
  }
}

@media screen and (max-width: 1120px) {
  $susy: (
          container: 1120,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(1120px);
  }
  .inner__container {
    @include container(1120px);
  }
  .nav__logo {
    @include span(12);
    @include clearfix();
    display: inline-block;
  }
  .logo {
    @include clearfix();
    @include span(3);
    margin-left: span(1);
  }
  .menu {
    margin-right: span(1);
  }
  .header__text {
    padding-top: 300px;
    padding-bottom: 345px;
  }
  .portfolio__items {
    margin-left: 40px;
  }
  .portfolio__item img {
    height: 230px;
  }
}

@media screen and (max-width: 950px) {
  $susy: (
          container: 950,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(950px);
  }
  .inner__container {
    @include container(950px);
  }
  .nav__logo {
    @include span(12);
    @include clearfix();
    display: inline-block;
  }
  .logo {
    @include clearfix();
    @include span(3);
    margin-left: span(1);
  }
  .menu {
    margin-right: span(1);
  }
  .header__text {
    font-size: 70px;
    margin-left: 60px;
    padding-top: 300px;
    padding-bottom: 235px;
  }
  .portfolio__items {
    margin-left: 40px;
  }
  .portfolio__item img {
    height: 200px;
  }
}

@media screen and (max-width: 800px) {
  $susy: (
          container: 800,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(800px);
  }
  .inner__container {
    @include container(800px);
  }
  .nav__logo {
    @include span(12);
    @include clearfix();
    display: inline-block;
  }
  .logo {
    @include clearfix();
    @include span(4);
    margin-left: span(1);
  }
  .menu {
    margin-right: span(1);
  }
  .header__text {
    font-size: 65px;
    margin-left: 5px;
    padding-top: 220px;
    padding-bottom: 140px;
  }
  .portfolio__items {
    margin-left: 40px;
  }
  .portfolio__item img {
    height: 180px;
  }
}

@media screen and (max-width: 750px) {

  //==================================================================================
  // settings
  //==================================================================================

  $susy: (
          container: 750,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(750px);
  }
  .inner__container {
    @include container(750px);
  }
  html {
    overflow-x: hidden;
  }

  //==================================================================================
  // End of settings
  //==================================================================================

  //==================================================================================
  // common
  //==================================================================================

  .little__heading {
    font-size: 28px;
  }
  .big__heading {
    font-size: 90px;
    font-weight: bold;
  }
  .text__content {
    font-size: 29px;
    padding-top: 220px;
    padding-right: 40px;
  }

  //==================================================================================
  // End of common
  //==================================================================================

  //==================================================================================
  // header section
  //==================================================================================

  .header__bg {
    background-image: url("images/header-mobile-bg.jpg");
    background-size: 1336px 1336px;
    background-position-x: -350px;
    padding-bottom: 488px;
  }

  .nav__logo {
    @include clearfix();
    @include span(12);
    padding: 0;
    height: 110px;
    background-color: rgba(84, 90, 91, .7);
  }
  .logo {
    @include clearfix();
    @include span(8);
    margin-top: 10px;
    margin-left: 15px;
    height: 100px;
    display: inline-block;
    font-size: 3em;
  }
  .logo__symbol {
    width: 84px;
    height: 84px;
    line-height: 84px;
  }
  .logo__text {
    padding-top: 23px;
  }
  .menu {
    margin-right: 0;
    background-color: rgba(38, 49, 54, .7);
    height: 100%;
    width: 90px;
    text-align: center;
    span {
      display: none;
    }
  }
  .menu__icon {
    font-size: 80px;
  }
  .header__text {
    font-size: 95px;
    text-align: center;
    margin-left: 25px;
    padding-top: 510px;
    padding-bottom: 25px;
  }
  .arrow__down {
    font-size: 95px;
    color: #ffffff;
    width: 66px;
    height: 66px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      top: -11px;
      left: 3px;
    }
  }

  //==================================================================================
  // End of header section
  //==================================================================================

  //==================================================================================
  // about section
  //==================================================================================

  .about__heading {
    @extend .little__heading;
  }
  .about__second__heading {
    @extend .big__heading;
  }
  .about__text {
    @extend .text__content;
    font-weight: 300;
  }
  .about__button {
    width: 450px;
    height: 110px;
    font-size: 27px;
    font-family: OpenSansLight;
  }
  //==================================================================================
  // End of about section
  //==================================================================================

  //==================================================================================
  // what we do section
  //==================================================================================

  .about__works {
    @extend .little__heading;
  }
  .about__portfolio {
    @extend .big__heading;
    padding-top: 80px;
  }
  .portfolio__items {
    margin-left: 0;
  }
  .portfolio__item {
    img {
      @include span(12);
      height: 560px;
      margin-bottom: 8px;
    }
  }
  //==================================================================================
  // End of what we do section
  //==================================================================================

  //==================================================================================
  // who we are section
  //==================================================================================

  .who__we__heading {
    @extend .little__heading;
  }
  .who__we__second__heading {
    @extend .big__heading;
  }
  .who__we__text {
    @extend .text__content;
    margin-bottom: 130px;
  }
  .team__item {
    &:last-child {
      float: left;
      @include span(11);
      padding-left: 55px;
      padding-right: 35px;
    }
    @include span(11);
    padding-left: 55px;
    padding-right: 35px;
  }
  .team__item__image {
    width: 631px;
    height: 530px;
    background-size: cover;
  }

  .team__descr {
    background-color: #f9f9f9;
    width: 601px;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 100px;
    margin-bottom: 60px;
  }
  .tag {
    @extend .little__heading;
  }
  .team__member__name {
    @extend .big__heading;
    font-size: 40px;
  }
  .team__member__descr {
    @extend .text__content;
    padding-left: 0;
  }
  //==================================================================================
  // End of who we are section
  //==================================================================================

  //==================================================================================
  // blog section
  //==================================================================================

  .blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .blog__heading {
    @extend .little__heading;
  }
  .blog__second__heading {
    @extend .big__heading;
  }
  .article__image__wrapper {
    @include span(12);
    padding: 0;
  }
  .article__image {
    @include span(12);
    background-size: cover;
  }
  .article__description {
    @include span(12);
    padding-left: 70px;
    padding-top: 100px;
    padding-right: 122px;
    padding-bottom: 666px;
  }
  .article__date {
    font-size: 28px;
    text-transform: uppercase;
  }
  .article__header {
    font-size: 60px;
  }
  .article__text {
    padding-top: 70px;
    font-size: 29px;
  }
  .article__read {
    width: 250px;
    height: 100px;
    font-size: 29px;
    margin-top: 100px;
  }
  .read__blog {
    margin-top: 80px;
    width: 455px;
    height: 110px;
    font-size: 29px;
    margin-left: span(2);
  }
  //==================================================================================
  // End of blog section
  //==================================================================================

  //==================================================================================
  // contact us section
  //==================================================================================
  .contact {
    @include span(12);
    padding-left: 35px;
    padding-right: 35px;
    background-color: #ffffff;
  }
  .contact__heading {
    @extend .little__heading;
  }
  .contact__second__heading {
    @extend .big__heading;
  }
  .map__wrapper {
    padding-top: 80px;
  }
  .contact__divs__wrapper {
    background-color: #f9f9f9;
    @include clearfix();
  }
  .contact__div {
    padding-right: 0;
    &--second {
      @include span(6 last);
    }
  }
  .contact__type {
    padding-top: 70px;
    margin-bottom: 30px;
  }

  //==================================================================================
  // End of contact us section
  //==================================================================================

  //==================================================================================
  // footer section
  //==================================================================================

  .footer {
    @include span(12);
    padding-left: 35px;
    padding-right: 35px;
    height: 230px;
    line-height: normal;
  }
  .footer__info {
    @include span(12);
    padding-top: 80px;
    font-size: 30px;
  }
  .footer__email {
    @include span(12);
    font-size: 30px;
    padding-top: 40px;
  }

  //==================================================================================
  // End of footer section
  //==================================================================================

}

@media screen and (max-width: 595px) {
  $susy: (
          container: 595,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(595px);
  }
  .inner__container {
    @include container(595px);
  }
  .header__text {
    margin-left: 0;
    padding-bottom: 70px;
  }
  .about__text {
    padding-top: 150px;
  }
  .who__we__text {
    padding-top: 150px;
  }
  .team__item {
    @include span(12);
    padding-left: 0;
    margin-right: 0;
    &:last-child {
      @include span(12);
      padding-left: 0;
      margin-right: 0;
    }
  }
  .team__item__image {
    max-height: 100%;
    max-width: 100%;
  }
  .team__descr {
    max-width: 100%;
    max-height: 100%;
    width: 95%;
  }
  .blog {
    padding-top: 80px;
  }
  .read__blog {
    margin-left: span(1);
  }
}

@media screen and (max-width: 530px) {
  $susy: (
          container: 530,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(530px);
  }
  .inner__container {
    @include container(530px);
  }
  .article__description {
    padding-bottom: 776px;
  }
  .read__blog {
    margin-left: 0;
    margin-top: 150px;
  }

}

@media screen and (max-width: 480px) {
  $susy: (
          container: 480,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(480px);
  }
  .inner__container {
    @include container(480px);
  }
  .header__bg {
    padding-bottom: 398px;
  }

  .logo__text {
    font-size: 43px;
  }

  .who__we__text {
    padding-right: 0;
  }
  .team__descr {
    width: 93%;
  }
  .team__member__descr {
    padding-top: 60px;
  }
  .article__description {
    padding-left: 45px;
    padding-right: 40px;
    padding-bottom: 686px;
  }
  .read__blog {
    @include span(11);
    height: 120px;
  }
  .footer {
    height: 100%;
  }
  .contact__div {
    @include span(12);
  }
  .phone {
    padding-top: 10px;
  }
}
@media screen and (max-width: 383px) {
  $susy: (
          container: 383,
          container-position: center,
          columns: 12,
          gutters: .25,
          debug: (
                  image: hide,
                  color: rgba(#66f, .25),
                  output: background,
                  toggle: top right,
          ),
  );
  @include layout($susy float inside);

  .container {
    @include container(383px);
  }
  .inner__container {
    @include container(383px);
  }
  .header__bg{
    background-position-x: -630px;
    padding-bottom: 365px;
  }
  .logo__symbol{
    display: none;
  }
  .about__text{
    padding-right: 0;
    padding-top: 70px;
  }
  .about__button{
    width: 320px;
  }
  .who__we__second__heading{
    font-size: 80px;
  }
  .about__portfolio{
    @include span(12);
    font-size: 80px;
  }
  .portfolio__item img{
    height: 400px;
  }
  .team__descr{
    padding-left: 10px;
    padding-right: 15px;
  }
  .blog {
    @include span(12);
  }
  .article__description{
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 750px;
  }
  .read__blog{
    margin-left: span(.4);
  }
  .footer{
    padding-left: 5px;
    padding-right: 0;
  }
  .footer__info{
    font-size: 25px;
  }
  .footer__email{
    font-size: 25px;
  }
}
