.about {
  text-align: center;
}

.about__heading {
  @extend .header__link;
  padding-top: 80px;
}

.about__second__heading {
  @extend .section__header;
  padding-top: 25px;
}

.about__text {
  @extend .section__text;
  padding-top: 50px;
}

.about__button {
  @extend .button;
  margin-top: 50px;
}

.about__works {
  @extend .header__link;
  padding-top: 160px;
}

.about__portfolio {
  @extend .section__header;
  padding-top: 20px;
}

.portfolio__items {
  display: block;
  @include clearfix();
  padding-top: 95px;
  margin-left: 90px;
}
.portfolio__item {
  img {
    @include span(3 of 12);
    height: 300px;
    margin-right: 2px;
    margin-bottom: 2px;
    background-size: cover;
  }
}

.portfolio__image {
  &--1 {
    background-image: url("index/about/images/portfolio/portfolio1.jpg");
  }
  &--2 {
    background-image: url("index/about/images/portfolio/portfolio2.jpg");
  }
  &--3 {
    background-image: url("index/about/images/portfolio/portfolio3.jpg");
  }
  &--4 {
    background-image: url("index/about/images/portfolio/portfolio4.jpg");
  }
  &--5 {
    background-image: url("index/about/images/portfolio/portfolio5.jpg");
  }
  &--6 {
    background-image: url("index/about/images/portfolio/portfolio6.jpg");
  }
  &--7 {
    background-image: url("index/about/images/portfolio/portfolio7.jpg");
  }
  &--8 {
    background-image: url("index/about/images/portfolio/portfolio8.jpg");
  }
}

.who__we__are {
  clear: both;
  text-align: center;
}

.who__we__heading {
  @extend .header__link;
  padding-top: 160px;
}

.who__we__second__heading {
  @extend .section__header;
  padding-top: 25px;
}

.who__we__text {
  @extend .section__text;
  padding-top: 60px;
}

.team {
  padding-top: 50px;
}

.team__item {
  @include span(4 of 12);
  &:last-child {
    @include span(4 of 12 last);
  }
}

.tag {
  @extend .header__link;
  text-align: left;
  font-size: 12px;
  padding-top: 15px;
  display: block;
}

.team__member__name {
  @extend .section__header;
  font-size: 20px;
  padding-top: 20px;
  text-align: left;
}

.team__member__descr {
  @extend .section__text;
  text-align: left;
  padding-top: 35px;
  font-size: 13px;
  padding-right: 30px;
}

.team__item__image {
  width: 246px;
  height: 192px;
  display: inline-block;
}

.team__member {
  &--1 {
    background-image: url("index/about/images/team/team1.jpg");
  }
  &--2 {
    background-image: url("index/about/images/team/team2.jpg");
  }
  &--3 {
    background-image: url("index/about/images/team/team3.jpg");
  }
}

