header.header__bg
	.container
		.nav__logo
			.logo
				.logo__symbol e
				h1.logo__text elegant
			.menu
				span menu
				i.fa.fa-bars.menu__icon
				.hidden__menu
					ul
						li: a(href="/dist/index.html") home
						li: a(href="/dist/about.html") about
						li: a(href="/dist/blog.html") blog
		h1.header__text Say
			span.italic  Haloa
			|  to your Portfolio

		.only__sm.arrow__down
			i.fa.fa-angle-down




