header.header__bg
	.container
		.nav__logo
			.logo
				.logo__symbol e
				h1.logo__text elegant

			.menu
				.hamburger__menu
					.bar
			.menu__wrapper
				.hidden__menu
					ul.menu__list
						li.menu__list__item: a(href="/dist/index.html").hidden__link home
						li.menu__list__item: a(href="/dist/about.html").hidden__link about
						li.menu__list__item: a(href="/dist/blog.html").hidden__link blog
		h1.header__text Say
			span.italic  Haloa
			|  to your Portfolio

		.only__sm.arrow__down
			i.fa.fa-angle-down




