.blog
	.inner__container
		.blog__section__wrapper
			.blog__heading last post
			.blog__second__heading We Like to Write
		.blog__article
			.article__image__wrapper
				i.article__image
			.article__description
				span.article__date 14 September 2014
				h4.article__header Change Your Space
				p.article__text Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores.
				button.article__read Read
			button.read__blog More From Our Blog



