.contact {
  padding-top: 160px;
}

.contact__wrapper {
  text-align: center;
}

.contact__heading {
  @extend .header__link;
}
.contact__second__heading {
  @extend .section__header;
  padding-top: 20px;
}
.map__wrapper {
  @include span(12 of 12 last);
}

#map{
  height: 300px;
  margin-top: 55px;
}

.contact__div {
  @include span(6 of 12);
  background-color: #f9f9f9;
  height: 380px;
  margin-right: 0;
  padding-right: 6px;
  text-align: center;
  span {
    display: block;
    @extend .contact__text;
  }
}

.contact__header {
  font-family: OpenSansSemibold;
  color: $blueTextColor;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}
.contact__text {
  font-family: OpenSansLight;
  color: $blueTextColor;
  font-size: 19px;
}

.contact__type{
  @extend .contact__header;
  padding-top: 55px;
  margin-bottom: 55px;
}

.footer__text {
  font-family: OpenSansLight;
  color: $blueTextColor;
  font-size: 16px;
}

.footer {
  margin-top: 80px;
  height: 95px;
  background-color: #f9f9f9;
  line-height: 95px;
}
.footer__info {
  @extend .footer__text;
  float: left;
}
.footer__email {
  @extend .footer__text;
  float: right;
}
