section.contact
	.inner__container
		.contact__wrapper
			h3.contact__heading  contact us
			h2.contact__second__heading  Work With Us
		.map__wrapper
			#map
			.contact__divs__wrapper
				.contact__div.contact__div--first
					h4.contact__type.location location
					span.address 198 West 21th Street,
					span.address New York, NY 10010
					h4.contact__type.fax fax
					span.fax__number +88 (0) 202 0000 000
					span.fax__number +88 (0) 202 0000 000
				.contact__div.contact__div--second
					h4.contact__type.phone phone
					span.phone +88 (0) 202 0000 000
					span.phone +88 (0) 202 0000 000
					h4.contact__type.email email
					span.email elegant@elegant.com
					span.email commercial@elegant.com

footer.footer
	.inner__container
		span.footer__info &copy; 2014 Designed by Diogo Dantas
		span.footer__email Email: imdiogodantas@gmail.com
